::-webkit-scrollbar {
  @apply h-8 w-8;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-white;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-white/90;
}

::-webkit-scrollbar-corner {
  @apply bg-white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.15) transparent;
}

button.rdp-day {
  color: #fff;
}

button.rdp-day_selected,
button:hover.rdp-day_selected {
  background: #fff;
  color: #000;
}

button:hover.rdp-day,
button:hover.rdp-nav_button {
  color: #000;
}

:root {
  --rdp-accent-color: #fff;
  --toastify-color-progress-dark: #fff;
}
